
 <header>
        <div class="header-wrapper">
            <div class='header-logo-title'>
                <a class='header-logo-link' href='https://about.me/agtechscript' target="_blank">
                    <img class="header-logo-image" alt="AG TechScript" src="/assets/images/AGTechScript.webp"> </a>
                <h1 class='header-blog-title'>
                    <a class='blog-title-link' href='https://agtechscript.in'>AG TechScript</a>
                </h1>
                <button class='nav-toggle' id='navToggle' aria-label='Toggle navigation'>&#9776;</button>
            </div>
            
            <nav class='navbar' id='mainNav'>
                <div class='nav-container'>
                    <ul class='nav-menu' id='nav-menu'>
                        <li><a href='https://loyalty.agtechscript.in'><i class="fas fa-gift"></i> Rewards</a></li>
                        <li><a href='https://jobs.agtechscript.in'><i class="fas fa-briefcase"></i> Jobs/Career</a></li>
                        <li><a href='https://products.agtechscript.in'><i class="fas fa-box"></i> Products</a></li>
                        <li><a href='/about'><i class="fas fa-info-circle"></i> About us</a></li>
                        <li><a href='#contact'><i class="fas fa-envelope"></i> Contact Us</a></li>
                    </ul>
                </div>
            </nav>
        </div>
 </header>